/*

#f99e1a	RGB(249, 158, 26)	So Sublime Orange	—
#43484c	RGB(67, 72, 76)	Mahogany Finish	—
#405275	RGB(64, 82, 117)	Early Dew Blue	—
#fffffe	RGB(255, 255, 254)	Greenish Teal	—
#000000	RGB(0, 0, 0)	Magic Blue


*/
h1{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    color: #ffffff;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #405275;
}


.randomizer-box{
    display: flex;
    flex-direction: row;
    padding: 100px 0px 100px 0px;
    background-color: #f99e1a;
    justify-content: center;
    width: 100vw;
}

.full-pane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.button-section{
    padding-top: 25px;
}

.random-button{
    background-color: #4D4E53;
    border: none;
    color: white;
    padding: 16px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.character-image{
    height: 256px;
    width: 256px;
    background-color: #4D4E53;
    fill: #4D4E53;
    border: 8px solid transparent;
    border-radius: 10px;
}

h2, h3{
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    padding-bottom: 0px;
    margin-bottom: 0px;
}



.rules-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
